@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 255, 219;
  --background-end-rgb: 0, 255, 166;
  background-color: black;
}

body {
  color: rgba(var(--foreground-rgb), 0.2);
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb), 0.2)
    )
    rgba(var(--background-start-rgb), 0.2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
